{{post-gap post=this postStream=controller.model.postStream before="true"}}

{{#if hasTimeGap}}
  {{time-gap daysAgo=daysSincePrevious postStream=controller.model.postStream}}
{{/if}}

    <div class='topic-body'>
      <div class="select-posts {{unless controller.multiSelect 'hidden'}}">
        <button {{action "toggledSelectedPostReplies" this}} class="{{unless view.canSelectReplies 'hidden'}}">{{i18n 'topic.multi_select.select_replies'}}</button>
       <button {{action "toggledSelectedPost" this}} class="select-post">{{view.selectPostText}}</button>
      </div>

      {{view 'topic-map-container' post=this topic=controller.model}}
    </div>

{{post-gap post=this postStream=controller.model.postStream before="false"}}
